.ibm-plex-sans-kr-regular {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow-y: auto; 
    overflow-x: hidden; 
    user-select: none;
    margin: 0; 
}

a {
    text-decoration: none;
}
ul, p{
    padding:0px;
    margin:0px;
}
li{
    padding:0px;
    margin:0px;
    list-style-type: none;
}